body{
    display: -webkit-flex;
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    font-family: 'Handlee', cursive;
    line-height: 10%;
    align-items: center;
    font-size: 16px;
}

#top, #bottom {
    display: -webkit-flex;
    display: flex;
    height: auto;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}

#top_left, #top_right {
    height: auto;
    width: 40%;
    margin: -5% 0 0 0;
    background: white;
}

h1 {
    font-family: 'Cinzel Decorative', cursive;
    margin: 2em 0 1em 0;
    color: #C1284A;
    text-align: center;
    font-size: 2rem;
}

h2 {
    font-size: 1.3rem; 
}

p, #userInput {
    font-family: 'Handlee', cursive;
    font-size: 1rem;
    text-align: center;
}

#enter {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 1rem;
    color: white;
    line-height: 150%;
    border-radius: 10%;
    background: -webkit-gradient(linear, left top, left bottom, from(#FB6789), color-stop(70%, #C1284A), to(#FB6789));
}

#enter:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#E1E59C), color-stop(70%, #78AC50), to(#E1E59C));
}

#bottom{
    display: -webkit-flex;
    display: flex;
    height: auto;
    width: 100%;
    justify-content: space-between;
}

#bottom_left, #bottom_right {
    height: auto;
    width: 20%;
    margin: 0;
    background: white;
}

#list {
    font-size: 1.2em;
}

#remove {
    margin-left: 0.5em;
    border-radius: 100%;
    border: 1px;
    color: white;
    background-color: #C1284A;
    font-size: 0.6rem;
}

.checked {
    text-decoration: line-through;
    text-decoration-color: #C1284A;
    text-decoration-style: solid;
}

@media only screen and (max-width: 600px) {
    h1{
        font-size: 1.5rem;
        margin: 1em 0 0.5em 0;
    }
    h2 {
        font-size: 1.2rem; 
    }
    p, #userInput {
        font-family: 'Handlee', cursive;
        font-size: 1rem;
        text-align: center;
    }
}